﻿@model CRMWebClient.Models.Employee

<div class="display-label">
        @Html.DisplayNameFor(model => model.initials)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.initials)
</div>

<div class="display-label">
        @Html.DisplayNameFor(model => model.phone)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.phone)
</div>