﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <title>@ViewBag.Title</title>
    
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Super Awesome Fun Time CRM</a>
        </div>
          <div class="navbar-collapse collapse">
             <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Employees", "Index", "Employee")</li>
                <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
             </ul>
        </div>
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h3>Welcome to the SuperAwesomeFunTime CRM</h3>
        <p>
            This site is your place to manage your SuperAwesomeFunTime contacts and employees.
        </p>
        <p>
            @Html.ActionLink("View Employees", "Index", "Employee", null, new { @class = "btn btn-primary btn-lg", role = "button"})
            @Html.ActionLink("View Customers", "Index", "Customer", null, new { @class = "btn btn-primary btn-lg", role = "button"})
        </p> 
      </div>
    </div>
    <div class="container">
        @if(!string.IsNullOrEmpty(ViewBag.successMessage))
        {
             <div class="alert alert-success">
                @ViewBag.successMessage
            </div>
        }

        @if(!string.IsNullOrEmpty(ViewBag.errorMessage))
        {
             <div class="alert alert-danger">
                @ViewBag.errorMessage
            </div>
        }
        @RenderBody()
    </div>
    <div>
      <hr>
      <footer>
        <p>&copy; CPIP 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>-->
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required:false);
  </body>
</html>
