﻿@model CRMWebClient.Models.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Details</h2>

<fieldset>
    <legend>Employee</legend>
    @{Html.RenderPartial("~/Views/Shared/_EmployeeDetail.cshtml", Model);}
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.employeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
