﻿@model IEnumerable<CRMWebClient.Models.Employee>

@{
    ViewBag.Title = "Employee List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.initials)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.initials)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.employeeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.employeeId }) |
            <a href="javascript: document.getElementById('deleteForm').id.value=@(item.employeeId);document.getElementById('deleteForm').submit();">
                Delete
            </a>
        </td>
    </tr>
}
    
</table>
<form name="deleteForm" id="deleteForm" action="../Employee/Delete" method="post">
    <input type="hidden" name="id" value="" />
</form>
