﻿@model CRMWebClient.Models.CustomerCreate

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Customer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.customer.accountNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.customer.accountNumber)
            @Html.ValidationMessageFor(model => model.customer.accountNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.customer.accountExecutive)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(
                model => model.customer.accountExecutiveId, 
                new SelectList(Model.employees, "employeeId", "initials")
            )
            @Html.ValidationMessageFor(model => model.customer.accountExecutiveId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
