﻿@model CRMWebClient.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Customer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.accountNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.accountNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.accountExecutive)
    </div>
    <div class="display-field">
        @{Html.RenderPartial("~/Views/Shared/_EmployeeDetail.cshtml", Model.accountExecutive);}
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.customerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
