﻿@model IEnumerable<CRMWebClient.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.accountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accountExecutive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.accountExecutive.phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.accountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accountExecutive.initials)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accountExecutive.phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.customerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.customerId }) |
            <a href="javascript: document.getElementById('deleteForm').id.value=@(item.customerId);document.getElementById('deleteForm').submit();">
                Delete
            </a>
        </td>
    </tr>
}

</table>
<form name="deleteForm" id="deleteForm" action="../Customer/Delete" method="post">
    <input type="hidden" name="id" value="" />
</form>
